<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 text-center">
        <p>As a computer engineering student who also works part-time as a freelancer on Upwork, I've honed my time management skills to maintain a balance between my social, professional lives,  and learning academically, especially in this course. I learned a lot particularly in managing servers, installing tool packages, and it's importance.
          Juggling these responsibilities has taught me the critical importance of effectively allocating time. Despite the increased demands on my schedule, I still manage to find time for my hobbies,
          affirming that it’s possible to maintain personal interests alongside professional and academic commitments. In conclusion, I believe that we should enjoy our lives while it last.</p>
      </div>
    </div>
  </div>
</section>
